.mat-card-simples {
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
}

.matcard {
  background-color: rgb(201, 200, 200);
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding-bottom: 2rem;
}

.matformprincipal {
  margin-left: 5px;
}

#botaoprincipal {
  background-color: rgb(68, 68, 68);
}

.botaofooter {
  text-align: center;
}
